# Dados e arquivos temporários
data/
*.json

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# ignorar o ambiente virtual
Saldo_Empenho/
venv/